.Additem {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.Additem button {
  padding: 5px, 10px;
  margin-left: 20px;
  font-size: 16px;
  color: white;
  background: rgb(0, 68, 68);
  cursor: pointer;
}
.input_text {
  display: flex;
  flex-direction: column;
}
.input_text input {
  width: 200px;
  padding: 5px;
  font-size: small;
  border: 1px solid rgb(11, 49, 49);
}
.input_text p {
  width: 200px;
  padding: 5px;
  font-size: small;
  color: white;
  background: rgb(117, 19, 19);
}
.input_text input focus {
  outline: null;
}
